<% form_for position_request, :html => { :role => "form", :class => "form-horizontal"} do |f| %>
  <div class="col-md-10" ng-app="planningApp">

    <div class="form-group">
      <%= f.label :position_name, 'Nome', :class => 'col-md-2' %>
      <div class="col-md-6">
        <%= f.text_field :position_name, :class => 'form-control' %>
      </div>

    </div>
    <div class="form-group" ng-controller="SearchCtrl"
          ng-init="initializeWith(<%= html_escape position_request.core_job.to_json %>,
                                 'job', '<%= jobs_url %>')">
      <%= f.label :job_id, 'Cargo', :class => 'col-md-2' %>
      <div class="col-md-6">
        <input type="select" name="position_request[job_id]"
                  class='form-control'
                  ng-model="result"
                  ui-select2="searchFactory.search()" />
      </div>
    </div>
    <div class="form-group" ng-controller="SearchCtrl"
          ng-init="initializeWith(<%= html_escape position_request.people_group.to_json %>,
                                 'people_group', '<%= people_groups_url %>')">
      <label for="position_request[people_group_id]" class="col-md-2">Empresa</label>
      <div class="col-md-6">
        <input type="select" name="position_request[people_group_id]"
                  class='form-control'
                  ng-model="result"
                  ui-select2="searchFactory.search()" />
      </div>
    </div>
    <div class="form-group" ng-controller="SearchCtrl"
          ng-init="initializeWith(<%= html_escape position_request.core_organization_unit.to_json %>, 'uniorg', '<%= uniorgs_url %>')" >
      <%= f.label :organization_id, 'Uniorg', :class => 'col-md-2' %>
      <div class="col-md-6">
        <input type="select" name="position_request[organization_id]"
                  class='form-control'
                  ng-model="result"
                  ui-select2="searchFactory.search()" />
      </div>
    </div>

  <%= submit_tag "Salvar", :class => 'btn btn-success' %>
  </div>

<% end %>