<%= content_for(:body_class, "management") %>

<h3 class="title">Requisições de Posições</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cargo</th>
      <th>Empresa</th>
      <th>UNIORG</th>
      <th>Requisitante</th>
      <th class="actions">
        <a href="<%= new_position_request_url %>" class="btn btn-sm btn-success">
          Requisitar posicão
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @position_requests.each do |position| %>
      <tr>
        <td><%= position.position_name %></td>
        <td><%= position.core_job.name %></td>
        <td><%= position.people_group.group_name %></td>
        <td><%= position.core_organization_unit.name %></td>
        <td><%= position.owner.full_name %></td>
        <td class="actions">
          <a href="#" class="action" title="Ver detalhes">
            <i class="fa fa-search"></i>
          </a>
          <a href="<%= edit_position_request_url(position)%>" class="action" title="Editar">
            <i class="fa fa-pencil"></i>
          </a>
          <a href="#" class="action destroy" title="Excluir">
            <i class="fa fa-minus-circle"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>