<div class="director" id="director-#{manager.id}" ng-repeat="manager in director.managers | orderBy: order">
  <div class="director-details">
    <div class="name">{{manager.full_name}}</div>
    <div class="job text-muted">{{manager.job_name}}</div>
  </div>
  <div class="director-data">
    <div class="deviation-text text-muted">Variação de Headcount</div>
    <div class="data planned">
      <div class="counter">
        <i class="{{manager.diff_manager_headcount.icon_html}}"></i>
        <div class="value">{{manager.diff_manager_headcount.value}}</div>
      </div>
      <div class="data-text">Orçado</div>
    </div>
    <div class="data cut">
      <div class="counter text-muted">
        <i class="{{manager.cut_manager_headcount.icon_html}}"></i>
        <div class="value">{{manager.cut_manager_headcount.value}}</div>
      </div>
      <div class="data-text">Variação</div>
    </div>
    <div class="data to-approve">
      <div class="counter text-muted">
        <i class="{{manager.approved_manager_headcount.icon_html}}"></i>
        <div class="value">{{manager.approved_manager_headcount.value}}</div>
      </div>
      <div class="data-text">Aprovado</div>
    </div>
    <div class="actions">
      <% link_to "{{manager.managers_link}}", :class => 'see-managers' do %>
        <i class="fa fa-sitemap"></i>
        <span>Ver gestores</span>
      <% end %>
      <% link_to "{{manager.cut_proposal_link}}",  :class => "do-cut" do %>
        <i class="fa fa-retweet"></i>
        <span>Ver planejamento</span>
      <% end %>
    </div>
  </div>
</div>