<%= content_for :body_class,"directors" %>

<div class="page-content">
  <div class="directors-header">
    <h3 class="title"><%= @planning.calendar_name %></h3>
    <div class="header-content">
      <div class="header-row">
        <div class="field">Calendário</div>
        <div class="content text-muted"><%= @planning.calendar_name %></div>
      </div>
      <div class="header-row">
        <div class="field">Período</div>
        <div class="content text-muted">
          <%= "#{pretty_date(@planning.begin_planning_date)} a #{pretty_date(@planning.end_planning_date)}" %>
        </div>
      </div>
      <div class="status">
        <div class="counters directors">
          <div class="quantity">
            <span><%= @directors.count %></span>
          </div>
          <div class="labels">
            <div>
              <i class="fa fa-briefcase"></i>
            </div>
            <span class="text-muted">Diretorias solicitantes</span>
          </div>
        </div>
        <div class="counters finisheds">
          <div class="quantity">
            <span><%= count_finisheds %></span>
          </div>
          <div class="labels">
            <div>
              <i class="fa fa-check"></i>
            </div>
            <span class="text-muted">Aprovações finalizadas</span>
          </div>
        </div>
        <div class="counters pendings">
          <div class="quantity">
            <span><%= count_pendings %></span>
          </div>
          <div class="labels">
            <div>
              <i class="fa fa-clock-o"></i>
            </div>
            <span class="text-muted">Aprovações pendentes</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="directors-list">
    <h3>
      Diretorias
      <% if @can_export_reports %>
        <% link_to reports_url(:format => "xls"), :class => "btn btn-sm btn-success pull-right" do %>
          <i class="fa fa-file-excel-o"></i>
          Exportar planejamentos
        <% end %>
      <% end %>
    </h3>

    <div class="list">
      <% @directors.each do |director| %>
        <%= render :partial => 'director_template', :locals => { :director => director } %>
      <% end %>
    </div>
  </div>


</div>