<div class="director" id="director-#{director.id}">
  <div class="status <%= css_status(director) %>"><i class="fa fa-clock-o"></i></div>
  <div class="director-details">
    <div class="name"><%= director.full_name %></div>
    <div class="job text-muted"><%= director.job_name %></div>
  </div>

  <% diff_headcount     = director.diff_headcount(@planning.id) %>
  <% approved_headcount = director.approved_headcount(@planning.id) %>
  <% cut_headcount      = director.cut_headcount(@planning.id) %>

  <div class="director-data">
    <div class="deviation-text text-muted">Variação de Headcount</div>
    <div class="data planned">
      <div class="counter <%= css_difference(diff_headcount) %>">
        <%= counter_icon diff_headcount %>
        <div class="value"><%= diff_headcount %></div>
      </div>
      <div class="data-text">Orçado</div>
    </div>
    <div class="data cut">
      <div class="counter <%= css_difference(cut_headcount) %>">
        <%= counter_icon cut_headcount %>
        <div class="value"><%= cut_headcount %></div>
      </div>
      <div class="data-text">Variação</div>
    </div>
    <div class="data to-approve">
      <div class="counter <%= css_difference(approved_headcount) %>">
        <%= counter_icon approved_headcount %>
        <div class="value"><%= approved_headcount %></div>
      </div>
      <div class="data-text">A aprovar</div>
    </div>
    <div class="actions">
      <% link_to user_path(director), :class => 'see-managers' do %>
        <i class="fa fa-sitemap"></i>
        <span>Ver gestores</span>
      <% end %>
      <% link_to user_proposal_path({:user_id => director.id, :id => director.id}, :hr => true),  :class => "do-cut" do %>
        <i class="fa fa-retweet"></i>
        <span>Ver planejamento</span>
      <% end %>
    </div>
  </div>
</div>