<%= content_for :body_class,"directors" %>

<div class="page-content managers" ng-app="directorsApp" ng-controller="ManagersListController"
      ng-init="initializeWith('<%= web_context + request.path %>')">
  <div class="directors-header">
    <h3 class="title">
      <%= link_to '', user_back(@director), :class => 'fa fa-chevron-circle-left' %>
      <span><%= @director.full_name %></span>
    </h3>
    <div class="header-content">
      <div class='column'>
        <div class="header-row">
          <div class="field">Departamento</div>
          <div class="content text-muted"><%= @director.dept_name %></div>
        </div>
        <div class="header-row">
          <div class="field">Calendário</div>
          <div class="content text-muted"><%= @planning.calendar_name %></div>
        </div>
        <div class="header-row">
          <div class="field">Gestores</div>
          <div class="content text-muted"><%= @director.managers.count %></div>
        </div>
        <div class="header-row">
          <div class="field">Período</div>
          <div class="content text-muted">
            <%= "#{pretty_date(@planning.begin_planning_date)} a #{pretty_date(@planning.end_planning_date)}" %>
          </div>
        </div>
      </div>
      <div class='column'>
      </div>
      <div class="status managers">
        <% unless @managers.empty? %>
          <div>Ordenar por</div>
          <div class='filters'>
            <div class="order" ng-click="orderByHeadcount()" ng-class="{'selected': checkOrdering('headcount')}">
              <i class="fa fa-sort-amount-desc"></i>
              <div class="filter-name">Variação de Headcount</div>
            </div>
            <div class="order" ng-click="orderByHires()" ng-class="{'selected': checkOrdering('hires')}">
              <i class="fa fa-sort-numeric-desc"></i>
              <div class="filter-name">Número de contratações</div>
            </div>
            <div class="order" ng-click="orderByName()" ng-class="{'selected': checkOrdering('name')}">
              <i class="fa fa-sort-alpha-asc"></i>
              <div class="filter-name">Ordem alfabética</div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="directors-list">
    <% if @managers.empty? %>
      <div class='alert alert-info'>
        Este gestor nao possui nenhum gestor abaixo dele. É preciso retornar e selecionar para ver o planejamento deste gestor.
      </div>
    <% else %>
      <h3>Gestores</h3>

      <div class="list" ng-hide="loading">
        <%= render :partial => 'manager_template' %>
      </div>
      <div class="loading" ng-show="loading">
        <%= render '/shared/loading' %>
      </div>
    <% end %>

  </div>

  <% unless @managers.empty? %>
    <% diff_headcount     = @director.diff_headcount(@planning.id) %>
    <% approved_headcount = @director.approved_headcount(@planning.id) %>
    <% cut_headcount      = @director.cut_headcount(@planning.id) %>

    <div class="navbar navbar-fixed-bottom director">
      <div class="director-data">
        <div class="deviation-text text-muted">Variação total de Headcount</div>
        <div class="data planned">
          <div class="counter">
            <%= counter_icon  diff_headcount %>
            <div class="value"><%= diff_headcount %></div>
          </div>
          <div class="data-text">Orçado</div>
        </div>
        <div class="data cut">
          <div class="counter text-muted">
            <%= counter_icon cut_headcount %>
            <div class="value"><%= cut_headcount %></div>
          </div>
          <div class="data-text">Variação</div>
        </div>
        <div class="data to-approve">
          <div class="counter text-muted">
            <%= counter_icon approved_headcount %>
            <div class="value"><%= approved_headcount %></div>
          </div>
          <% if(!pending_approvals?) %>
            <div class="data-text">Aprovado</div>
          <% else %>
            <div class="data-text">A aprovar</div>
          <% end %>
        </div>
        <div class="actions">
          <% if pending_approvals? %>
            <% form_tag(approve_user_path(@director.id), { :method => :post }) do %>
              <%= submit_tag "Aprovar",
                      :confirm => "Esta ação irá fazer a aprovação automática dos gestores. Tem certeza que deseja continuar?",
                      :disable => @saving,
                      :disable_with => "Aprovando...",
                      :class => "btn btn-sm btn-success" %>
            <% end -%>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>