<div class="manager" id="manager-#{collaborator.id}" ng-repeat="collaborator in manager.collaborators | orderBy: order">
  <div class="manager-details">
    <div class="name">{{collaborator.full_name}}</div>
    <div class="job text-muted">{{collaborator.job_name}}</div>
  </div>
  <div class="manager-data">
    <div class="deviation-text text-muted">Variação de Headcount</div>
    <div class="data planned">
      <div class="counter">
        <i class="{{collaborator.diff_collaborator_headcount.icon_html}}"></i>
        <div class="value">{{collaborator.diff_collaborator_headcount.value}}</div>
      </div>
      <div class="data-text">Orçado</div>
    </div>
    <div class="data cut">
      <div class="counter text-muted">
        <i class="{{collaborator.cut_collaborator_headcount.icon_html}}"></i>
        <div class="value">{{collaborator.cut_collaborator_headcount.value}}</div>
      </div>
      <div class="data-text">Variação</div>
    </div>
    <div class="data to-approve">
      <div class="counter text-muted">
        <i class="{{collaborator.approved_collaborator_headcount.icon_html}}"></i>
        <div class="value">{{collaborator.approved_collaborator_headcount.value}}</div>
      </div>
      <div class="data-text">Aprovado</div>
    </div>
    <div class="actions">
      <% link_to "{{collaborator.collaborators_link}}", :class => 'see-collaborators' do %>
        <i class="fa fa-sitemap"></i>
        <span>Ver gestores</span>
      <% end %>
      <% link_to "{{collaborator.proposal_link}}",  :class => "do-cut" do %>
        <i class="fa fa-retweet"></i>
        <span>Ver planejamento</span>
      <% end %>
    </div>
  </div>
</div>