<%= content_for :body_class,"managers" %>

<div class="page-content collaborators" ng-app="managersApp" ng-controller="CollaboratorsListController"
      ng-init="initializeWith('<%= web_context + request.path %>')">
  <div class="managers-header">
    <h3 class="title">
      <% if params[:id] %>
        <%= link_to '', manager_back(@manager), :class => 'fa fa-chevron-circle-left' %>
      <% end %>
      <span><%= @manager.full_name %></span>
    </h3>
    <div class="header-content">
      <div class='column'>
        <div class="header-row">
          <div class="field">Departamento</div>
          <div class="content text-muted"><%= @manager.dept_name %></div>
        </div>
        <div class="header-row">
          <div class="field">Calendário</div>
          <div class="content text-muted"><%= @planning.calendar_name %></div>
        </div>
        <div class="header-row">
          <div class="field">Gestores</div>
          <div class="content text-muted"><%= @manager.managers.count %></div>
        </div>
        <div class="header-row">
          <div class="field">Período</div>
          <div class="content text-muted">
            <%= "#{pretty_date(@planning.begin_planning_date)} a #{pretty_date(@planning.end_planning_date)}" %>
          </div>
        </div>
      </div>
      <div class='column'>
      </div>
      <div class="status collaborators">
        <% unless @collaborators.empty? %>
          <div>Ordenar por</div>
          <div class='filters'>
            <div class="order" ng-click="orderByHeadcount()" ng-class="{'selected': checkOrdering('headcount')}">
              <i class="fa fa-sort-amount-desc"></i>
              <div class="filter-name">Variação de Headcount</div>
            </div>
            <div class="order" ng-click="orderByHires()" ng-class="{'selected': checkOrdering('hires')}">
              <i class="fa fa-sort-numeric-desc"></i>
              <div class="filter-name">Número de contratações</div>
            </div>
            <div class="order" ng-click="orderByName()" ng-class="{'selected': checkOrdering('name')}">
              <i class="fa fa-sort-alpha-asc"></i>
              <div class="filter-name">Ordem alfabética</div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="managers-list">
    <% if @collaborators.empty? %>
      <div class='alert alert-info'>
        Este gestor nao possui nenhum gestor abaixo dele. É preciso retornar e selecionar para ver o planejamento deste gestor.
      </div>
    <% else %>
      <h3>
        Gestores
        <% link_to export_managers_path,
                    :class => 'export btn btn-success btn-sm',
                    :title => 'Exportar para Excel' do %>
          <i class="fa fa-file-excel-o"></i>
          <span>Exportar</span>
        <% end %>
      </h3>

      <div class="list" ng-hide="loading">
        <%= render :partial => 'collaborator_template' %>
      </div>
      <div class="loading" ng-show="loading">
        <%= render '/shared/loading' %>
      </div>
    <% end %>

  </div>

  <% unless @collaborators.empty? %>
    <% diff_headcount     = @manager.diff_headcount(@planning.id) %>
    <% approved_headcount = @manager.approved_headcount(@planning.id) %>
    <% cut_headcount      = @manager.cut_headcount(@planning.id) %>

    <div class="navbar navbar-fixed-bottom manager">
      <div class="manager-data">
        <div class="deviation-text text-muted">Variação total de Headcount</div>
        <div class="data planned">
          <div class="counter">
            <%= counter_icon  diff_headcount %>
            <div class="value"><%= diff_headcount %></div>
          </div>
          <div class="data-text">Orçado</div>
        </div>
        <div class="data cut">
          <div class="counter text-muted">
            <%= counter_icon cut_headcount %>
            <div class="value"><%= cut_headcount %></div>
          </div>
          <div class="data-text">Variação</div>
        </div>
        <div class="data to-approve">
          <div class="counter text-muted">
            <%= counter_icon approved_headcount %>
            <div class="value"><%= approved_headcount %></div>
          </div>
          <div class="data-text">Aprovado</div>
        </div>
      </div>
    </div>
  <% end %>
</div>
