<% unless flash[:error].blank? %>
	<% content_tag(:div, :class => 'alert alert-danger') do %>
    <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
    <span><%= flash[:error] %></span>
  <% end %>
<% end %>

<% unless flash[:notice].blank? %>
	<% content_tag(:div, :class => 'alert alert-success') do %>
    <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
    <span><%= flash[:notice] %></span>
  <% end %>
<% end %>
