<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-inner">
		  <div class="navbar-brand">
		  	<i id="logo"></i>
		  </div>
		  <% if current_user %>
		  	<div class="navbar-right" id="menu">
		  		<div class="user">
						<i class="fa fa-user"></i>
						<span class="username"><%= current_user.full_name %></span>
		  		</div>
					<% link_to(logout_url, :class => 'exit', :role => 'menu-item') do %>
						<i class="fa fa-reply"></i>
						<span>RH Online</span>
					<% end %>
		  	</div>
		  <% end %>
  </div>
</nav>
