<div class="panel panel-default job clickable" ng-repeat="job in service.jobs | orderBy: '-previousTeamSizeWithUncountables()'" ng-click='openMovementsModal(job)' ng-hide="isSummary()">
    <div class="job-info">
      <span class="job-name">{{job.name}}</span>
      <i class="fa fa-retweet changed-hr" ng-show="job.changedByHr"></i>
      <i class="fa fa-eye-slash info-icon" ng-show="job.uncountable" title="Movimentações neste cargo não serão contabilizadas no cálculo do Headcount."></i>
      <i class="fa fa-globe info-icon" ng-show="job.hasImpatriates" title="Alguns colaboradores deste cargo estão impatriados e não serão contabilizados no cálculo de Headcount."></i>
    </div>
    <div class="job-planner">
      <div class="text-muted totals current">
        <span class="quantity">{{job.previousTeamSizeWithUncountables()}}</span>
        <small>Atual</small>
      </div>
      <div class="actions">
        <div>
          <div class="button add" ng-class="{'inactive': !(job.hiresCountWithUncountables() > 0), 'changed-hr': job.changedByHr }">
            <span>C</span>
            <i class="fa fa-plus"></i>
            <span>{{job.hiresCountWithUncountables()}}</span>
          </div>
          <div class="button remove" ng-class="{inactive: !(job.firesCountWithUncountables() > 0)}">
            <span>D</span>
            <i class="fa fa-minus"></i>
            <span>{{job.firesCountWithUncountables()}}</span>
          </div>
        </div>
        <div>

        <div class='button add promoted-from' ng-class="{inactive: !(job.promotionsInCount > 0)}">
          <span>P</span>
          <i class="fa fa-arrow-up"></i>
          <span>{{job.promotionsInCount}}</span>
        </div>
        <div class='button remove promote-to' ng-class="{inactive: !(job.promotionsOutCount > 0)}">
          <span>P</span>
          <i class="fa fa-arrow-up"></i>
          <span>{{job.promotionsOutCount}}</span>
        </div>
        </div>
      </div>
      <div class="totals planned">
        <span class="quantity" ng-class="{'changed-hr': job.changedByHr }">{{job.plannedHeadcountWithUncountables()}}</span>
        <small class="text-muted">Orçado</small>
      </div>
    </div>
</div>

<div class="panel panel-default job summary" ng-repeat="job in service.jobs | orderBy: '-plannedHeadcount()'" ng-show="isSummary()">
    <div class="job-info">
      <span class="job-name">{{job.name}}</span>
    </div>
    <div class="job-planner">
      <div class="text-muted totals">
        <span class="quantity">{{job.plannedHeadcount()}}</span>
        <small class="text-muted">Aprovado</small>
      </div>
      <div class="totals with-border">
        <span class="quantity">{{job.currentTeamSize()}}</span>
        <small>Atual</small>
      </div>
      <div class="totals with-border">
        <span class="quantity">
          <i ng-class="diffIconClass(job.diffApprovedHeadcount())"></i>
          {{absoluteValue(job.diffApprovedHeadcount())}}
        </span>
        <small>Pendente</small>
      </div>
    </div>
</div>
