<div class="modal fade" id="movements-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div ng-form="jobPlanning" novalidate>
        <div class="modal-header">
          <h4 class='job-title'>{{modal.name}}</h4>
          <i class="fa fa-times close" ng-click='modal.cancel()'></i>
        </div>
        <div class="modal-body">
          <div class="row panel-group" id="accordion">
            <div class="panel position" ng-repeat='position in modal.positions | orderPositionByQuantityOf: collaborator_id:true'>
              <div class="panel-heading position-header">
                <div class="panel-title">
                  <a class="panel-toggle" data-toggle="collapse" href="#{{position.position_id}}">
                    <div class="position-name">
                      {{position.position}}
                    </div>
                    <div class="uniorg text-muted">
                      {{position.uniorg}}
                    </div>
                  </a>
                </div>
              </div>
              <div class="panel-collapse collapse in" id="{{position.position_id}}">
                <div class="panel-body collaborators-grid">
                  <div class="header">
                    <span class="id">ID</span>
                    <span class="name">Nome do Colaborador</span>
                  </div>
                  <div class="collaborator" ng-repeat="movement in position.listActualMovements()" data-iteration="{{movement.iteration}}" ng-form="movementForm" id="{{movement.collaborator_id}}">
                    <div class="status" ng-class="{'promotion-out': movement.isPromotionOut(position.position_id), 'fired' : movement.isFire(), 'promotion' : movement.isPromotionIn(position.position_id) }">
                      <div class="content">
                        <div class="info">
                          <span class="id">{{movement.collaborator_number}}</span>
                          <i class="fa fa-eye-slash" ng-show="movement.uncountable"
                             title="Este colaborador não será contabilizado no Headcount"></i>
                          <span class="name">{{movement.collaborator_name}}</span>
                        </div>
                        <div class="collaborator-actions">
                          <div class="action promotion-in" ng-click="!isChangesLocked() && movement.revert()" ng-show="movement.isPromotionIn(position.position_id)">
                            <i class="fa fa-arrow-up"></i>
                            <span>Promovido</span>
                          </div>
                          <div class="action promotion-out" ng-click="!isChangesLocked() && movement.promoteCollaborator()" ng-show="!movement.uncountable">
                            <i class="fa fa-arrow-up"></i>
                            <span>Promover</span>
                          </div>
                          <div class="action fire" ng-click="!isChangesLocked() && movement.fireCollaborator()" ng-disabled >
                            <i class="fa fa-minus"></i>
                            <span>Desligar</span>
                          </div>
                        </div>
                      </div>
                      <div class="changes" ng-if="movement.isFire()" >
                        <div class="properties fire">
                          <div class="form-group"
                                ng-class="{'has-error': movementForm.begin_date.$invalid && modal.submitted }">
                            <label class='control-label'>A partir de</label>

                            <select ng-model="movement.begin_date" name="begin_date" class="form-control input-sm" ui-select2 data-placeholder="Escolha um mês" ng-required='true' ng-readonly="isChangesLocked()">
                              <option value=""></option>
                              <option value="{{month.value}}" ng-repeat="month in service.monthsList">{{month.label | date: "MMMM/yyyy"}}</option>
                            </select>
                            <span class='help-block' ng-show='movementForm.begin_date.$invalid && modal.submitted '>Campo obrigatório</span>
                          </div>
                          <div class="form-group motive">
                            <label class='control-label'>Motivo (opcional)</label>
                            <input type="text" name="motive" class="form-control input-sm"
                                    ng-model="movement.motive" ng-readonly="isChangesLocked()" maxlength="255">
                            </input>
                          </div>
                        </div>
                        <div class="dismiss" ng-show="!isHr" ng-click="!isChangesLocked() && movement.revert()">
                          <a href="#">
                            <i class="fa fa-undo"></i>
                            <span>Desfazer</span>
                          </a>
                        </div>
                        <div class='reject' ng-show='isHr && isCutPerspective' ng-click='!isChangesLocked() && movement.reject()'>
                          <a href='#'>
                            <i class='fa fa-ban'></i>
                            <span>REJEITAR</span>
                          </a>
                        </div>
                      </div>
                      <div class="changes" ng-if="movement.isPromotionOut(position.position_id)">
                        <div class="properties promotion-out">
                          <div class="form-group position" ng-class="{'has-error' : movementForm.position.$invalid && modal.submitted}">
                            <label class='control-label'>Promover para</label>
                            <select ng-model="movement.temporary_position_id" class="form-control input-sm"
                                    ui-select2 data-placeholder="Escolha uma posição"
                                    ng-disabled="movement.inexistentPositionRequest"
                                    ng-readonly="isChangesLocked()" name="position" validate-promotion>
                              <option value=""></option>
                              <option value="{{pos.position_id}}"
                                      ng-repeat="pos in service.possiblePromotionPositions(position.job_id) | filter: service.possibleGradeFilter(position, pos) ">
                                      {{pos.position}}
                              </option>
                            </select>
                            <span class='help-block' ng-show='movementForm.position.$invalid && modal.submitted '>É preciso escolher uma posição diferente da atual</span>
                            <span class='help-block' ng-hide="movement.inexistentPositionRequest">
                              <a class="new-position" href="#" ng-click='movement.promoteToInexistentPosition(<%= current_user.employee_person_id %>)'>Requisitar cadastro de nova Posição <i class="fa fa-angle-down"></i>
                              </a>
                            </span>
                          </div>
                          <div class="form-group begin-date"
                                ng-class="{'has-error': movementForm.begin_date.$invalid && modal.submitted }" ng-readonly="isChangesLocked()">
                            <label class='control-label'>A partir de</label>

                            <select ng-model="movement.begin_date" name="begin_date" class="form-control input-sm" ui-select2 data-placeholder="Escolha um mês" ng-required="true" ng-readonly="isChangesLocked()">
                              <option value=""></option>
                              <option value="{{month.value}}" ng-repeat="month in service.monthsList">{{month.label | date: "MMMM/yyyy"}}</option>
                            </select>
                            <span class='help-block' ng-show='movementForm.begin_date.$invalid && modal.submitted '>Campo obrigatório</span>
                          </div>
                        </div>
                        <div class="inexistent-position" ng-if="movement.inexistentPositionRequest">
                          <div ng-form="positionRequestForm">
                            <a class="new-position" href="#" ng-click='movement.dismissInexistentPosition()'>Requisitar cadastro de nova Posição <i class="fa fa-angle-up"></i></a>
                            <div class="new-position-form">
                              <div class="row">
                                <div class="form-group col-md-6" ng-class="{'has-error': positionRequestForm.position_request_position_name.$invalid && modal.submitted }">
                                  <label for="position_request_position_name">Posição</label>
                                  <input class="form-control input-sm" ng-model="movement.position_request_attributes.position_name" name="position_request_position_name" required/>
                                </div>
                                <div class="form-group col-md-6" ng-class="{'has-error': positionRequestForm.position_request_job_id.$invalid && modal.submitted }"
                                      ng-controller="SearchCtrl"
                                      ng-init="initializeWith(null, 'job', '<%= jobs_url %>')">
                                  <label for="position_request_job_id">Cargo</label>
                                  <input type="select" name="position_request_job_id"
                                            class='form-control'
                                            required
                                            data-placeholder="{{movement.position_request.job.name || 'Escolha um cargo'}}"
                                            ng-model="movement.position_request_attributes.job_id"
                                            ui-select2="searchFactory.search()" />
                                </div>
                              </div>
                              <div class="row">
                                <div class="form-group col-md-6" ng-class="{'has-error': positionRequestForm.position_request_people_group_id.$invalid && modal.submitted }"
                                      ng-controller="SearchCtrl"
                                      ng-init="initializeWith(null, 'people_group', '<%= people_groups_url %>')">
                                  <label for="position_request_people_group_id">Empresa</label>
                                  <input type="select" name="position_request_people_group_id"
                                            class='form-control'
                                            required
                                            ng-model="movement.position_request_attributes.people_group_id"
                                            data-placeholder="{{movement.position_request.people_group.group_name || 'Escolha uma Empresa'}}"
                                            ui-select2="searchFactory.search()" />
                                </div>
                                <div class="form-group col-md-6" ng-class="{'has-error': positionRequestForm.position_request_organization_id.$invalid && modal.submitted }"
                                      ng-controller="SearchCtrl"
                                      ng-init="initializeWith(null, 'uniorg', '<%= uniorgs_url %>')" >
                                  <label for="position_request_people_group_id">Uniorg</label>
                                  <input type="select" name="position_request_organization_id"
                                            ui-select2="searchFactory.search()"
                                            class='form-control'
                                            required
                                            data-placeholder="{{movement.position_request.organization.name || 'Escolha uma Uniorg'}}"
                                            ng-model="movement.position_request_attributes.organization_id"/>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="properties promotion-out">
                          <div class="form-group motive promotion-out">
                            <label class='control-label'>Motivo (opcional)</label>
                            <input type="text" name="motive" class="form-control input-sm"
                                    ng-model="movement.motive" ng-readonly="isChangesLocked()" maxlength="255">
                            </input>
                          </div>
                        </div>
                        <div class="dismiss" ng-show="!isHr" ng-click="!isChangesLocked() && movement.revert()">
                          <a href="#">
                            <i class="fa fa-undo"></i>
                            <span>Desfazer</span>
                          </a>
                        </div>
                        <div class='reject' ng-show='isHr && isCutPerspective' ng-click='!isChangesLocked() && movement.reject()'>
                          <a href='#'>
                            <i class='fa fa-ban'></i>
                            <span>REJEITAR</span>
                          </a>
                        </div>
                      </div>
                      <div class="changes" ng-if="movement.isPromotionIn(position.position_id)">
                        <div class="properties promotion-in">
                          <div class="form-group position">
                            <label class='control-label'>Promovido da posição</label>
                            <div class="text-muted form-control-static">{{service.getPositionById(movement.previous_position_id).position}}</div>
                          </div>
                          <div class="form-group begin-date">
                            <label class='control-label'>A partir de</label>

                            <div class="text-muted form-control-static">{{movement.begin_date | date: 'MMMM'}}</div>
                          </div>
                          <div class="form-group motive" style="width: 420px;">
                            <label class='control-label'>Motivo</label>

                            <div class="text-muted form-control-static">{{movement.motive}}</div>
                          </div>
                        </div>
                        <div class="dismiss" ng-show="!isHr" ng-click="!isChangesLocked() && movement.revert()">
                          <a href="#">
                            <i class="fa fa-undo"></i>
                            <span>Desfazer</span>
                          </a>
                        </div>
                        <div class='reject' ng-show='isHr && isCutPerspective' ng-click='!isChangesLocked() && movement.reject()'>
                          <a href='#'>
                            <i class='fa fa-ban'></i>
                            <span>REJEITAR</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="collaborator" ng-show="position.listHireMovements().length > 0">
                    <div class='status hires' ng-class="{'hr': isCutPerspective}">
                      <div class="content">
                        <span class="info">A CONTRATAR</span>
                      </div>
                      <div class="changes">
                        <div class="properties">
                          <div class="labels">
                            <div class="item begin-date">
                              <span>Contratar em</span>
                            </div>
                            <div class="item quantity">
                              <span>Quantidade</span>
                            </div>
                            <div class="item quantity-approved" ng-show='isCutPerspective'>
                              <span>Nova quantidade</span>
                            </div>
                            <div class="item motive">
                              <span>Motivo (opcional)</span>
                            </div>
                          </div>
                          <!-- HIRE when is not the HR Cut Perspective -->
                          <div class="to-hire" ng-repeat="movement in position.listHireMovements()" ng-form="hireForm" ng-if='!isCutPerspective'>
                            <div class="form-group item begin-date" ng-class="{'has-error': hireForm.begin_date.$invalid && modal.submitted }">
                              <select ng-model="movement.begin_date" name="begin_date" class="form-control input-sm" ui-select2 data-placeholder="Escolha um mês" ng-required='true' ng-readonly="isChangesLocked()">
                                <option value=""></option>
                                <option value="{{month.value}}" ng-repeat="month in service.monthsList">{{month.label | date: "MMMM/yyyy"}}</option>
                              </select>
                              <span class='help-block' ng-show='hireForm.begin_date.$invalid && modal.submitted '>Campo obrigatório</span>
                            </div>
                            <div class="form-group item quantity" ng-class="{'has-error': hireForm.quantity.$invalid && modal.submitted }">
                              <input type="number" name="quantity" class="form-control input-sm"
                                      ng-model="movement.quantity" ng-required="true" ng-readonly="isChangesLocked()">
                              </input>
                              <span class='help-block' ng-show='hireForm.quantity.$invalid && modal.submitted '>Campo obrigatório</span>
                            </div>
                            <div class="form-group item motive">
                              <input type="text" name="motive" class="form-control input-sm"
                                      ng-model="movement.motive" ng-readonly="isChangesLocked()" maxlength="255">
                              </input>
                            </div>
                            <div class="dismiss" ng-show="!isHr" ng-click="!isChangesLocked() && position.revertHire(movement)">
                              <a href="#">
                                <i class="fa fa-undo"></i>
                                <span>Desfazer</span>
                              </a>
                            </div>
                          </div>
                          <!-- -->

                          <!-- HIRE when is HR cut perspective -->
                          <div class="to-hire hr" ng-repeat="movement in position.listHireMovements()" ng-form="hireForm" ng-if='isCutPerspective'>
                            <div class="form-group item begin-date" ng-class="{'has-error': hireForm.begin_date.$invalid && modal.submitted }">
                              <select ng-model="movement.begin_date" name="begin_date" class="form-control input-sm" ui-select2 data-placeholder="Escolha um mês" ng-required='true' ng-readonly="movement.proposedByManager() || isChangesLocked()">
                                <option value=""></option>
                                <option value="{{month.value}}" ng-repeat="month in service.monthsList">{{month.label | date: "MMMM/yyyy"}}</option>
                              </select>
                              <span class='help-block' ng-show='hireForm.begin_date.$invalid && modal.submitted '>Campo obrigatório</span>
                            </div>
                            <div class="form-group item quantity">
                              <input type="number" name="quantity" class="form-control input-sm"
                                      ng-model="movement.quantity" ng-readonly="true">
                              </input>
                            </div>
                            <div class="form-group item quantity-approved" ng-class="{'has-error': hireForm.quantity_approved.$invalid && modal.submitted }">
                              <input type="number" name="quantity_approved" class="form-control input-sm" ng-if='movement.proposedByManager()'
                                      ng-model="movement.quantity_approved" ng-required="true" ng-readonly="(isChangesLocked()) || (!movement.hireRejected() && movement.proposedByManager())">
                              </input>
                              <input type="number" name="quantity_approved" class="form-control input-sm" ng-if='movement.proposedByHr()'
                                      ng-model="movement.quantity" ng-required="true"
                                      ng-readonly="isChangesLocked()">
                              </input>
                              <span class='help-block' ng-show='hireForm.quantity_approved.$invalid && modal.submitted '>Campo obrigatório</span>
                            </div>
                            <div class="form-group item motive">
                              <input type="text" name="motive" class="form-control input-sm"
                                      ng-model="movement.motive" ng-readonly="isChangesLocked() || movement.proposedByManager()" maxlength="255">
                              </input>
                            </div>
                            <div class="dismiss" ng-show="movement.proposedByHr()" ng-click="!isChangesLocked() && position.revertHire(movement)">
                              <a href="#">
                                <i class="fa fa-undo"></i>
                                <span>Desfazer</span>
                              </a>
                            </div>

                            <div class='reject' ng-show='movement.proposedByManager() && !movement.hireRejected()' ng-click='!isChangesLocked() && movement.reject()'>
                              <a href='#'>
                                <i class='fa fa-ban'></i>
                                <span>REJEITAR</span>
                              </a>
                            </div>

                            <div class='reject revert' ng-show="movement.hireRejected()" ng-click='!isChangesLocked() && movement.revertReject()'>
                              <a href='#'>
                                <i class='fa fa-undo'></i>
                                <span>DESFAZER</span>
                              </a>
                            </div>
                          </div>
                          <!-- -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="actions">
                    <button class="btn btn-success add-collaborator" ng-click="!isChangesLocked() && position.hireCollaborator()"
                            ng-disabled="isChangesLocked()" ng-if='!isCutPerspective'>
                      <i class="fa fa-plus"></i>
                      <span>A contratar</span>
                    </button>
                    <button class="btn btn-success add-collaborator" ng-click="!isChangesLocked() && position.hireCollaboratorByHr()"
                            ng-disabled="isChangesLocked()" ng-if='isCutPerspective'>
                      <i class="fa fa-plus"></i>
                      <span>A contratar</span>
                    </button>
                  </div>

                </div>
              </div>
            </div>
            <div class="panel position request" ng-repeat='position in modal.position_requests'>
              <div class="panel-heading position-header">
                <div class="panel-title">
                  <a class="panel-toggle" data-toggle="collapse" href="#position_request_{{position.id}}">
                    <div class="position-name">
                      {{position.position_name}}
                    </div>
                    <div class="uniorg text-muted">
                      {{position.organization.name}}
                    </div>
                  </a>
                </div>
              </div>
              <div class="panel-collapse collapse in" id="position_request_{{position.id}}">
                <div class="panel-body collaborators-grid">
                  <div class="header">
                    <span class="id">ID</span>
                    <span class="name">Nome do Colaborador</span>
                  </div>
                  <div class="collaborator" ng-repeat="movement in position.promotionInMovements()" data-iteration="{{movement.iteration}}" ng-form="movementForm" id="{{movement.collaborator_id}}">
                    <div class="status promotion">
                      <div class="content">
                        <div class="info">
                          <span class="id">{{movement.collaborator_number}}</span>
                          <i class="fa fa-eye-slash" ng-show="movement.uncountable"
                             title="Este colaborador não será contabilizado no Headcount"></i>
                          <span class="name">{{movement.collaborator_name}}</span>
                        </div>
                        <div class="collaborator-actions">
                          <div class="action promotion-in" ng-click="!isChangesLocked() && movement.revert()" ng-show="movement.isPromotionIn(position.position_id)">
                            <i class="fa fa-arrow-up"></i>
                            <span>Promovido</span>
                          </div>
                        </div>
                      </div>
                      <div class="changes">
                        <div class="properties promotion-in">
                          <div class="form-group position">
                            <label class='control-label'>Promovido da posição</label>
                            <div class="text-muted form-control-static">{{service.getPositionById(movement.previous_position_id).position}}</div>
                          </div>
                          <div class="form-group begin-date">
                            <label class='control-label'>A partir de</label>

                            <div class="text-muted form-control-static">{{movement.begin_date | date: 'MMMM'}}</div>
                          </div>
                          <div class="form-group motive" style="width: 420px;">
                            <label class='control-label'>Motivo</label>

                            <div class="text-muted form-control-static">{{movement.motive}}</div>
                          </div>
                        </div>
                        <div class="dismiss" ng-show="!isHr" ng-click="!isChangesLocked() && movement.revert()">
                          <a href="#">
                            <i class="fa fa-undo"></i>
                            <span>Desfazer</span>
                          </a>
                        </div>
                        <div class='reject' ng-show='isHr && isCutPerspective' ng-click='!isChangesLocked() && movement.reject()'>
                          <a href='#'>
                            <i class='fa fa-ban'></i>
                            <span>REJEITAR</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <span class='text-danger' ng-show="error">
            Não foi possível salvar o planejamento do gestor. Verifique os logs do sistema ou tente novamente.
          </span>
          <a href="" class="cancel" ng-click="modal.cancel()">Cancelar</a>
          <button type="submit" class='btn btn-info save'
                    ng-disabled="saving || isChangesLocked()"
                    ng-switch='saving' ng-click="modal.saveData()">
            <span ng-switch-default>Salvar</span>
            <span ng-switch-when='true'>Salvando...</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
