<div class="navbar navbar-fixed-bottom" id="proposal-footer" ng-hide='loading'>
  <div class="container-fluid" ng-hide="isSummary()">
    <div class="totals currents text-muted">
      <span class="quantity">{{service.previousHeadcount}}</span>
      <small>Atual</small>
    </div>
    <div class="changes">
      <div class="totals">
        <span class="quantity">
          <i class="fa fa-plus-circle"></i>
          {{service.totalHires}}
        </span>
        <small>A contratar</small>
      </div>
      <div class="totals">
        <span class="quantity">
          <i class="fa fa-minus-circle"></i>
          {{service.totalFires}}
        </span>
        <small>Desligamentos</small>
      </div>
      <div class="totals">
        <span class="quantity">
          <i class="fa fa-arrow-circle-up"></i>
          {{service.totalPromotions}}
        </span>
        <small>Promoções</small>
      </div>
    </div>
    <div class="totals planned">
      <span class="quantity">{{service.totalHeadcount}}</span>
      <small>Total orçado</small>
    </div>
    <div class="totals headcount">
      <span class="quantity">
        <i ng-class="diffIconClass(service.totalDeltaHeadcount)"></i>
        {{absoluteValue(service.totalDeltaHeadcount)}}
      </span>
      <small>Variação de headcount</small>
    </div>
    <div class="totals headcount">
      <span class="quantity">
        {{absoluteValue(service.totalUncountables)}}
      </span>
      <small>Total não contabilizados</small>
    </div>
    <div class="actions pull-right">
      <button class="btn btn-success send" ng-click="send()" ng-disabled="saving || isChangesLocked()"
              ng-switch='saving' ng-hide="isHr">
        <span ng-switch-default>Enviar para aprovação</span>
        <span ng-switch-when='true'>Enviando...</span>
      </button>
      <button class="btn btn-success send" ng-click="approve()" ng-disabled="saving || isChangesLocked()"
              ng-switch='saving' ng-show="isHr">
        <span ng-switch-default>Aprovar</span>
        <span ng-switch-when='true'>Salvando...</span>
      </button>
    </div>
  </div>

  <div class="container-fluid" ng-show="isSummary()">
    <div class="totals planned">
      <span class="quantity">{{service.totalHeadcount}}</span>
      <small>Total aprovado</small>
    </div>
    <div class="totals planned">
      <span class="quantity">{{service.currentHeadcount}}</span>
      <small>Atual</small>
    </div>
    <div class="totals headcount">
      <span class="quantity">
        <i ng-class="diffIconClass(service.totalDiffApprovedHeadcount)"></i>
        {{absoluteValue(service.totalDiffApprovedHeadcount)}}
      </span>
      <small>Alterações permitidas</small>
    </div>
  </div>
</div>