<div class="proposal-header" data-id="{{service.proposal_id}}" ng-hide="loading">
  <div class="title">
    <h3 ng-class="service.status">{{service.manager.full_name}}</h3>
    <% if @nested_manager %>
      <%= link_to '', :back, :class => 'fa fa-chevron-circle-left' %>
    <% end %>
    <div tabset class="tabs" ng-show="service.isFinished()">
      <div class='tab pull-right' tab active="currentTab(2)" ng-click='loadCurrentTeam()'>
        <div tab-heading>
          <i class="fa fa-retweet"></i>
          <span>Comparativo</span>
        </div>
      </div>
      <div class='tab pull-right' tab active="currentTab(1)" ng-click='loadCuttingProposal()'>
        <div tab-heading>
          <i class="fa fa-check-circle"></i>
          <span>Aprovado</span>
        </div>
      </div>
      <div class='tab pull-right' tab active="currentTab(0)" ng-click='loadOriginalProposal()'>
        <div tab-heading>
          <i class="fa fa-file-text"></i>
          <span>Planejado</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="budget col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="row department">
            <div class="col-md-4">Departamento</div>
            <span class="col-md-8 text-muted" title="{{ service.manager.dept_name }}">{{ service.manager.dept_name }}</span>
          </div>
          <div class="row calendar">
            <div class="col-md-4">Calendário</div>
            <div class="col-md-8 text-muted">{{ service.planning.calendar_name }}</div>
          </div>
          <div class="row created-by">
            <div class="col-md-4">Criação</div>
            <div class="col-md-8 text-muted">{{service.created_at | date: 'dd/MM/yyyy'}}</div>
          </div>
          <div class="row updated-by">
            <div class="col-md-4">Atualização</div>
            <div class="col-md-8 text-muted">{{service.updated_at | date: 'dd/MM/yyyy'}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row period">
            <div class="col-md-4">Período</div>
            <div class="col-md-8 text-muted">
            {{service.planning.begin_planning_date | date: 'dd/MM/yyyy'}} - {{service.planning.end_planning_date | date: 'dd/MM/yyyy'}}
            </div>
          </div>
          <div class="row positions-counter">
            <div class="col-md-4">Cargos</div>
            <div class="col-md-8 text-muted">{{service.jobs.length}}</div>
          </div>
          <div class="row headcount">
            <div class="col-md-4">Headcount</div>
            <div class="col-md-8 text-muted">{{service.previousHeadcount}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="status col-md-4">
      <div class="message">{{service.status_message}}</div>
      <div class="image {{service.status}}"></div>
    </div>
  </div>
</div>
