<div class="proposal-header" data-id="{{service.proposal_id}}" ng-hide="loading">
  <div class="title">
    <h3 class="FINISHED">
      <%= link_to '', :back, :class => 'fa fa-chevron-circle-left' %>
      <span>{{service.manager.full_name}}</span>
    </h3>
    <div tabset class="tabs">
      <div class='tab pull-right' tab active="currentTab(2)" ng-click='loadCurrentTeam()' ng-show="service.isFinished()">
        <div tab-heading>
          <i class="fa fa-retweet"></i>
          <span>Comparativo</span>
        </div>
      </div>
      <div class='tab pull-right' tab active="currentTab(1)" ng-click='loadCuttingProposal()' ng-hide="service.isFinished()">
        <div tab-heading>
          <i class="fa fa-retweet"></i>
          <span>Alterar planejamento</span>
        </div>
      </div>
      <div class='tab pull-right' tab active="currentTab(1)" ng-click='loadCuttingProposal()' ng-show="service.isFinished()">
        <div tab-heading>
          <i class="fa fa-check-circle"></i>
          <span>Aprovado</span>
        </div>
      </div>
      <div class='tab pull-right' tab active="currentTab(0)" ng-click='loadOriginalProposal()'>
        <div tab-heading>
          <i class="fa fa-file-text"></i>
          <span>Planejado</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="budget col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="row calendar">
            <div class="col-md-4">Calendário</div>
            <div class="col-md-8 text-muted">{{ service.planning.calendar_name }}</div>
          </div>
          <div class="row period">
            <div class="col-md-4">Período</div>
            <div class="col-md-8 text-muted">
            {{service.planning.begin_planning_date | date: 'dd/MM/yyyy'}} - {{service.planning.end_planning_date | date: 'dd/MM/yyyy'}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="status col-md-4">
      <div class="message">{{service.status_message}}</div>
      <div class="image {{service.status}}"></div>
    </div>
  </div>
</div>
