<table>
  <tr>
    <th>Gestor</th>
    <th>Diretoria</th>
    <th><%= to_utf16('Código da Uniorg') %></th>
    <th>Uniorg</th>
    <th>Status</th>
    <th><%= to_utf16('Orçado') %></th>
    <th><%= to_utf16('Variação') %></th>
    <th>Aprovado</th>
  </tr>
<% @managers.each do |manager| %>
  <tr>
    <td><%= to_utf16(manager["manager_name"]) %></td>
    <td><%= to_utf16(manager["director_name"]) %></td>
    <td><%= to_utf16(manager["cod_uniorg"]) %></td>
    <td><%= to_utf16(manager["uniorg"]) %></td>
    <td><%= to_utf16(I18n.t("interface.proposal.status.#{manager["status"]}")) %></td>
    <td><%= to_utf16(manager["diff_headcount"]) %></td>
    <td><%= to_utf16(manager["diff_cut_headcount"]) %></td>
    <td><%= to_utf16(manager["diff_approved_headcount"]) %></td>
  </tr>
<% end %>
</table>
