<%= content_for :body_class, 'search-managers' %>

<h3 class="title">
  Consultar planejamentos
  <small class="planning">
    <div class="text">
      <div class="info calendar">
        <span class="field">Calendário:</span>
        <span class="value"><%= @planning.calendar_name %></span>
      </div>
      <div class="info period">
        <span class="field">Período:</span>
        <span class="value">
          <%= pretty_date(@planning.begin_planning_date) %> - <%= pretty_date(@planning.end_planning_date)%></span>
      </div>
    </div>
  </small>
</h3>

<div class="form">
  <% form_tag search_proposals_path, :method => 'get', :class => 'form-inline', :role => 'form', :name => 'filter'do %>
    <div class="form-group">
      <div class="form-label">Gestor</div>
      <input type="text" id="manager" name="manager" class='form-control col-md-3 input-sm' value="<%= params[:manager] %>"></input>
    </div>
    <div class="form-group">
      <div class="form-label">Diretoria</div>
      <input type="text" id="director" name="director" value="<%= params[:director] %>" class='form-control col-md-3 input-sm'></input>
    </div>
    <div class="form-group">
      <div class="form-label">Status</div>
      <select name="status" class='form-control input-sm'>
        <option value="all" selected="<%= params[:status] ? params[:status] == 'all' : true %>">Todos</option>
        <% I18n.t('interface.proposal.status').to_a.each do |status| %>
          <% if params[:status] == status[0].to_s %>
            <option value="<%= status[0] %>" selected="true"><%= status[1] %></option>
          <% else %>
            <option value="<%= status[0] %>"><%= status[1] %></option>
          <% end %>
        <% end %>
      </select>
    </div>
    <div class="action">
      <%= submit_tag 'Buscar', :class => 'btn btn-info btn-sm search', :disable_with => "Buscando..." %>
    </div>
  <% end %>

</div>

<div class="result" ng-app="planningApp" ng-controller="ManagersListCtrl"
      ng-init="initializeWith(<%= html_escape @managers.to_json %>)">
  <div class="alert alert-info" ng-show="emptyList()">
    Nenhum resultado foi encontrado.
  </div>
  <div class="managers-table" ng-hide="emptyList()">
    <div class="header">
      <div class="cell name">
        <span>Gestor</span>
      </div>
      <div class="cell name">
        <span>Diretoria</span>
      </div>
      <div class="cell uniorg">
        <span>Uniorg</span>
      </div>
      <div class="cell status">
        <span>Status</span>
      </div>
      <div class="cell headcount">
        <div class="text-center">Variação de headcount</div>
      </div>
      <% link_to search_proposals_path({:format=> 'xls'}.merge(request.parameters)) ,:class => 'cell link' do %>
        <i class="fa fa-file-excel-o" title="Exportar dados em Excel..."></i>
      <% end %>
    </div>
    <div class="manager" ng-repeat="manager in filteredManagers">
      <div class="cell name">
        <span>{{manager.manager_name}}</span>
      </div>
      <div class="cell name">
        <span>{{manager.director_name}}</span>
      </div>
      <div class="cell uniorg">
        <span>{{manager.uniorg}}</span>
      </div>
      <div class="cell status">
        <span>{{manager.status_text}}</span>
      </div>
      <div class="cell headcount">
        <div class="tile proposed">
          <div class="var">
            {{manager.diff_headcount}}
          </div>
          <div class="sub">
            orçado
          </div>
        </div>
        <div class="tile cut">
          <div class="var">
            {{manager.diff_cut_headcount}}
          </div>
          <div class="sub">
            variação
          </div>
        </div>
        <div class="tile approved">
          <div class="var">
            {{manager.diff_approved_headcount}}
          </div>
          <div class="sub">
            aprovado
          </div>
        </div>
      </div>
      <% link_to '{{manager.url}}', :class => 'cell link' do %>
        <i class="fa fa-info-circle" title="Ver planejamento"></i>
      <% end %>
    </div>
  </div>
  <div pagination class="pagination-sm" items-per-page="numPerPage"
      ng-model="currentPage" max-size="maxSize" rotate="true" boundary-links="true"
      total-items="totalItems" previous-text="&lsaquo;" next-text="&rsaquo;"
      first-text="&laquo;" last-text="&raquo;" ng-hide="hidePagination()"></div>
</div>
