<%= content_for :body_class,"proposals" %>

<div class="proposal-content" ng-app="proposalApp" ng-controller="ProposalController"
      ng-init="initializeWith('<%= web_context + request.path %>', <%= @is_hr || 'null' %>, <%= @planning.open_period? %>, <%= @nested_managers %>)">
  <% if @is_hr %>
    <%= render :partial => "rh_proposal_header" %>
  <% else %>
    <%= render :partial => "proposal_header" %>
  <% end %>
  <div class="loading" ng-show="loading">
    <%= render '/shared/loading' %>
  </div>
  <div class="jobs-list" ng-hide="loading">
    <div class="job-container">
      <div class="title">Cargos Disponíveis</div>
      <%= render :partial => 'job_template' %>
      <%= render :partial => 'positions_modal' %>
    </div>
  </div>
  <%= render :partial => "proposal_footer" %>
</div>