.managers {
  .page-content {
    margin-bottom: 45px;

    &.collaborators {
      margin-bottom: 115px;
    }
  }

  .managers-header {
    .title {
      border-bottom: 1px solid #ddd;
      padding-bottom: 6px;
      margin-bottom: 5px;

      .small {
        margin-bottom: 10px;
      }

      a {
        text-decoration: none;
      }
    }
    .header-content {
      position: relative;

      .header-row {
        .field {
          display: inline-block;
          width: 100px;
        }

        .content {
          display: inline-block;
          margin-right: 7px;
        }
      }

      .column {
        display: inline-block;
        margin-right: 10px;
      }

      .status {
        width: 430px;
        height: 67px;
        position: absolute;
        top: 0px;
        right: 0px;

        &.collaborators {
          width: 415px;
        }

        .filters {
          margin-top: 3px;

          .order {
            display: inline-block;
            position: relative;
            width: 130px;
            height: 40px;
            background-color: #ddd;
            color: #666;
            cursor: pointer;

            &.selected {
              background-color: #a0a7ad;
              color: #fff;
            }

            .fa {
              font-size: 27px;
              padding: 6px;
            }

            .filter-name {
              position: absolute;
              display: inline-block;
              right: 0px;
              width: 90px;
              height: 40px;
              margin-left: 40px;
              font-size: 12px;
              font-weight: bold;
              padding: 6px 0px;
              line-height: 14px;
            }
          }
        }

        .counters {
          position: relative;
          display: inline-block;
          width: 135px;
          height: 72px;
          border: 1px solid #ddd;
          margin-left: 5px;

          .quantity {
            position: absolute;
            width: 42px;
            height: 70px;
            color: #fff;
            text-align: center;
            font-size: 30px;

          }

          .labels {
            margin-left: 43px;
            height: 70px;
            text-align: right;
            padding: 7px 6px;
            font-size: 12px;

            i {
              font-size: 22px;
              margin-bottom: 3px;
            }
          }

          &.managers {
            .quantity {
              background-color: #0364b5;
            }

            .labels {
              i { color: #0364b5; }
            }
          }
          &.finisheds {
            .quantity {
              background-color: #45ad04;
            }

            .labels {
              i { color: #45ad04; }
            }
          }
          &.pendings {
            .quantity {
              background-color: #fc9b02;
            }

            .labels {
              i { color: #fc9b02; }
            }
          }
        }
      }
    }

  }

  .export {
    position: absolute;
    right: 25px;

    i {
      margin-right: 6px;
    }
  }

  .managers-list {
    margin-top: 40px;

    .list {
      margin-top: 15px;
    }

    h3 {
      font-size: 21px;
    }

    .manager {
      height: 70px;
      position: relative;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-top: 10px;

      .status {
        display: inline-block;
        width: 40px;
        height: 68px;
        vertical-align: top;
        border-right: 1px solid #ddd;

        i {
          display: inline-block;
          padding: 22px 10px;
          font-size: 23px;
        }

        &.pending {
          background-color: #fcf5eb;
          color: #fc9b02;

          .fa:before {
            content: "\f017";
          }
        }

        &.finished {
          background-color: #e6fbe2;
          color: #4fb024;

          .fa:before {
            content: "\f00c";
          }
        }
      }

      .manager-details {
        display: inline-block;
        width: 420px;
        height: 68px;
        padding: 12px 5px;

        .name {
          font-size: 17px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .job {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #666;
        }

      }

      .manager-data {
        position: absolute;
        display: inline-block;
        width: 435px;
        height: 68px;
        right: -0px;
        background-color: #f9f9f9;

        .deviation-text {
          display: inline-block;
          width: 80px;
          height: inherit;
          position: absolute;
          left: -90px;
          top: 14px;
          text-align: right;
        }

        .data {
          display: inline-block;
          width: 100px;
          height: 68px;
          vertical-align: middle;
          text-align: center;
          border-right: 1px solid #eeeeee;
          border-left: 1px solid #eeeeee;
          margin-right: -4px;

          .counter {
            color: #999;

            .value {
              font-size: 42px;
              display: inline-block;
              margin-top: -5px;
              margin-bottom: -10px;
            }
            .fa {
              font-size: 20px;
            }

            &.plus {
              color: #084491;
            }

            &.minus {
              color: #e6251e;
            }
          }

          .data-text {
            font-size: 12px;
          }
        }

        .actions {
          position: absolute;
          width: 135px;
          top: 0px;
          margin-left: 300px;
          font-size: 12px;

          a {
            display: block;
            height: 34px;
            text-decoration: none;
            border-bottom: 1px solid #e6e6e6;
            background-color: #f2f2f2;

            i {
              padding: 10px 7px;
              font-size: 14px;
            }

            &:hover {
              background-color: #d1ebfc;
            }

            &.do-cut:hover {
              background-color: #fdeeee;
            }
          }

          .see-collaborators {
            color: #084491;
          }

          .do-cut {
            color: #e6251e;
          }
        }

      }
    }
  }

  .navbar-fixed-bottom.manager {
    margin-bottom: 35px;
    height: 68px;

    &:after {
      background: transparent repeat-x left url(../images/default/shadow-footer.png);
      position: absolute;
      bottom: 68px;
      content: "";
      display: block;
      left: 0px;
      right: 0px;
      height: 8px;
    }

    .manager-data {
      height: 68px;
      background-color: #f9f9f9;
      position: relative;

      .deviation-text {
        display: inline-block;
        width: 115px;
        vertical-align: middle;
        text-align: right;
        padding: 9px;
      }

      .data {
        display: inline-block;
        width: 100px;
        height: 68px;
        vertical-align: middle;
        text-align: center;
        border-right: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
        margin-right: -4px;

        .counter {
          color: #999;

          .value {
            font-size: 42px;
            display: inline-block;
            margin-top: -5px;
            margin-bottom: -10px;
          }
          .fa {
            font-size: 20px;
          }

          &.plus {
            color: #084491;
          }

          &.minus {
            color: #e6251e;
          }
        }

        .data-text {
          font-size: 12px;
        }
      }

      .actions {
        position: absolute;
        right: 18px;
        top: 19px;

        .btn {
          width: 90px;
          font-weight: bold;
        }
      }
    }
  }
}
