.planning {
  h3.title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
  }

  table {
    color: #333;
  }

  .modal-title {
    font-weight: bold;
  }

  .actions {
    text-align: right;

    .action {
      width: 30px;
      display: inline-block;
      font-size: 20px;
      padding: 0px;
      padding: 0px 4px;
      margin: 0px 2px;

      &.destroy {
        color: #e51900;
      }
    }

    a{
      text-decoration: none;
    }
  }

  .form-group {
    label.period {
      top: 27px;
    }
  }

  .authorized-sites {
    margin-right: 10px;
  }
}

.search-managers {

  h3.title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
    position: relative;
  }

  .planning {
    position: absolute;
    top: 11px;
    right: 0px;
    display: inline-block;

    .text {
      position: relative;
    }

    .info {
      display: inline-block;
      font-size: 14px;

      &.calendar {
        margin-right: 5px;
      }

      .field {
        color: #38678c;
        font-weight: bold;
      }
    }

  }

  .form {
    margin: 20px 0px;

    .form-group {
      margin-right: 20px;
    }

    .form-label {
      font-weight: bold;
    }

    .form-control {
      width: 260px;
    }

    .action {
      display: inline-block;
      vertical-align: bottom;

      .search {
        background-color: #2d75b3;
        width: 120px;
        font-weight: bold;

        &:before {
          display: inline-block;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: '\f002';
        }
      }
    }
  }

  .managers-table {
    color: #333;
    font-size: 12px;

    .header {
      font-weight: bold;
      border-bottom: 2px solid #dbdadb;
      position: relative;

      .link {
        color: #98b800;
        bottom: -2px;
      }
    }

    .manager {
      border-bottom: 1px solid #ebebeb;
      position: relative;

      &:hover {
        background-color: #f7f7f7;
      }

      .link {
        top: 5px;
      }
    }

    .cell {
      display: inline-block;
      padding: 10px;
      vertical-align: middle;
    }

    .name {
      width: 21.44%;
    }

    .uniorg {
      width: 22.49%;
    }

    .status {
      width: 13.54%;
    }

    .headcount {
      width: 16.35%;
      position: relative;
      padding: 0px;
      padding-right: 20px;

      .tile {
        width: 33%;
        display: inline-block;
        text-align: center;

        &.proposed {
          color: #aaa;
        }

        &.cut {
          color: #d64443;
        }

        &.approved {
          position: absolute;
          color: #006db6;
        }

        .var {
          font-size: 18px;
        }

        .sub {
          color: #878787;
        }
      }
    }

    .link {
      width: 3%;
      text-align: center;
      font-size: 18px;
      position: absolute;
      right: 0px;

      a { text-decoration: none; }
    }

  }

}
