body {
	margin:0;
	font-family: arial, verdana, serif;
	font-size: 14px;
}

#footer,
#header { display:none; } 


label {
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 0px;
}

.field {
	padding-bottom: 20px;
}

.field_box {
	background: #f4f4f4;
}

.subtitle {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -8px;
}

hr {
	border: 0.5px solid #333;
	background: #333;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}


table {
	border: 1px solid #333;
	border-collapse:collapse;
	color:#333;
	font:normal 12px arial, helvetica, sans-serif;
	width: 100%;
	margin-bottom: 10px;
	float: left;
}

td,th {
	border: 1px solid #333;
}

h2 {
	color:#00345c;
	font-size:14px;
	padding:0;
	margin: 0 0 6px 0;
	font-style: italic;
}

ul, ul li {
   margin:0;
}