.loading {
  margin-top: 70px;
  font-size: 30px;
  text-align: center;
  color: #ccc;

  img {
    vertical-align: middle;
  }
}

.proposals {
  padding-bottom: 110px;

  .status-title {
    text-align: center;
    display: block;
  }

  .value {
    display: inline-block;
  }

  .changed-hr {
    color: #e31900;
  }

  .proposal-header {
    .title {
      position: relative;
      margin-bottom: 17px;
      margin-top: -5px;
    }

    h3 {
      font-weight: normal;
      padding-bottom: 5px;
      border-bottom: 1px solid #e3f2f9;

      &.FINISHED {
        margin-right: 300px;
      }

      a { text-decoration: none; }
    }

    .breadcrumb {
      margin-bottom: 3px;
      padding-left: 0px;
      background-color: transparent;

      li {
        display: inline-block;

        &+li:before {
          content: " > "
        }
      }
    }

    .tabs {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 360px;
      display: inline-block;

      .nav-tabs {
        border-bottom: 1px solid #e3f2f9;

        &.align-right {
          li {
            float: right;
          }
        }

        li {
          cursor: pointer;


          &.active a{
            color: #0063b5;
            border-color: #e3f2f9;
            border-top: 2px solid #0063b5;
            border-bottom: 0px;

          }

          a {
            color: #b3b3b3;
            border-color: #fafafa;
            border-top: 2px solid #dedede;
            border-bottom: 1px #e3f2f9;
            padding: 7px 15px;
          }
        }
      }
    }

    .text-muted {
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .job-container {
    padding-top: 10px;

    .title {
      font-size: 20px;
      margin-top: 3px;
      margin-bottom: 12px;
    }

    .job {
      margin-bottom: 10px;
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px;

      .job-info {
        padding-right: 320px;
        margin: 0px;
        font-size: 16px;
        min-height: 52px;
        padding-left: 10px;
        position: relative;

        .job-name {
          position: relative;
          top: 15px;
        }

        .info-icon {
          font-size: 20px;
          position: relative;
          margin: 0px 5px;
          top: 15px;
        }

        .changed-hr {
          font-size: 27px;
          position: absolute;
          top: 12px;
          right: 330px;
          color: #e31900;
        }
      }

      .job-planner {
        background-color: #f5f5f5;
        position: absolute;
        right: 0px;
        top: 0px;
        border-radius: 0px 3px 3px 0px;
        height: 62px;
        border-left: 1px solid #ccc;

        .totals {
          width: 65px;
          display: inline-block;
          text-align: center;
          height: inherit;

          .quantity {
            font-size: 38px;
            margin-bottom: -12px;
            margin-top: -4px;
            display: block;

            .fa {
              font-size: 20px;
              vertical-align: middle;
              margin-right: -10px;

              &.fa-plus-circle {
                color: #45ad04;
              }

              &.fa.fa-minus-circle {
                color: #e51904;
              }
            }
          }
        }

        .with-border {
          border-left: 1px solid #ccc;
        }

        .actions {
          position: relative;
          font-size: 18px;
          color: #fff;
          width: 190px;
          text-align: center;
          vertical-align: top;
          display: inline-block;
          margin-top: 1px;

          &:before {
            position: absolute;
            content: url(../images/default/icone-linhas.png);
            left: -7px;
            top: 13px;
            clip: rect(0px, 27px, 32px, 0px);
          }

          &:after {
            position: absolute;
            content: url(../images/default/icone-linhas.png);
            right: -8px;
            top: 13px;
            clip: rect(0px, 54px, 32px, 27px);
          }

          .button {
            background: url(../images/default/sprite-tipo-movimentacao-73x24.png);
            padding: 0px 6px 0px 6px;
            font-size: 15px;
            display: inline-block;
            height: 24px;
            width: 73px;
            line-height: 19px;
            position: relative;

            &.inactive {
              background-position: 73px 0px !important;
            }

            &.add {
              background-position: 0px 0px;

              &.changed-hr {
                background-position: 0px 24px;

                .fa-plus:before {
                  content: "\f067 ";
                }
              }
            }

            &.remove {
              background-position: 146px 0px;
            }

            .fa {
              padding: 0px 2px 0px 2px;
              margin: 0px 2px 0px 2px;
            }

            span {
              display: inline-block;
              vertical-align: middle;
            }

            i {
              display: inline-block;
              vertical-align: middle;
            }
          }

          .promoted-from {
            .fa {
              border-top: 1px solid #fff;
              line-height: 10px;
            }
          }

          .promote-to {
            .fa {
              border-bottom: 1px solid #fff;
              line-height: 12px;
            }
          }
        }
      }

      &:hover {
        background-color: #fefcee;

        &.clickable {
          cursor: pointer;
        }

        .job-planner {
          background-color: #f7f5e5;
        }
      }
    }
  }

  #proposal-footer {
    margin-bottom: 34px;
    height: 70px;
    background-color: #f1f1f1;

    &:after {
      background: transparent repeat-x left url(../images/default/shadow-footer.png);
      position: absolute;
      bottom: 70px;
      content: "";
      display: block;
      left: 0px;
      right: 0px;
      height: 8px;
    }

    .totals {
      width: 90px;
      height: 69px;
      display: inline-block;
      text-align: center;

      &.headcount {
        width: 140px;
      }

      &.planned {
        border-right: 1px solid #ccc;
      }

      .quantity {
        font-size: 45px;
        margin-bottom: -12px;
        margin-top: -4px;
        display: block;

        .fa {
          display: inline;
          font-size: 20px;
          vertical-align: middle;
          margin-right: -10px;
        }
      }

      small {
        display: block;
      }
    }

    .changes {
      display:inline-block;
      position:relative;
      background-color: #e8e8e8;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 0px;
      border-left: 1px solid #ccc;

      &:before {
        position: absolute;
        content: url(../images/default/icone-linhas.png);
        left: -28px;
        top: 17px;
        clip: rect(0px, 27px, 32px, 0px);;
      }

      &:after {
        position: absolute;
        content: url(../images/default/icone-linhas.png);
        right: -28px;
        top: 17px;
        clip: rect(0px, 54px, 32px, 27px);;
      }

      .totals {
        border-right: 1px solid #ccc;
        font-size: 14px;

      }
    }

    .fa {
      &.fa-plus-circle {
        color: #45ad04;
      }

      &.fa.fa-minus-circle {
        color: #e51904;
      }
    }

    .actions {
      padding-top: 17px;
      margin-right: 10px;

      .send {
        background-color: #45ad04;
      }

      .send:disabled {
        background-color: #999;
        border-color: #666;
      }
    }
  }

  .status {
    .message {
      text-align: center;
      width: 265px;
      font-size: 13px;
    }
    .image {
      width:265px;
      height:68px;

      &.PENDING-MANAGER {
        background-image: url(../images/default/status-pending-manager.png);

      }

      &.PENDING-DIRECTOR {
        background-image: url(../images/default/status-pending-director.png);
      }

      &.PENDING-HR {
        background-image: url(../images/default/status-pending-hr.png);
      }

      &.REJECTED-DIRECTOR-TIMEOUT,
      &.REJECTED-DIRECTOR {
        background-image: url(../images/default/status-rejected-director.png);
      }

      &.FINISHED {
        background-image: url(../images/default/status-finished.png);
      }
    }

  }
}

#movements-modal {
  .modal-dialog{
    width: 900px;
    color: #333;

    .modal-content {
      height: 580px;
      overflow: hidden;

      .modal-header {
        position: absolute;
        top: 0px;
        width: 898px;
        height: 60px;

        .job-title {
          font-weight: bold;
          margin: 5px 0px;
        }

        .close {
          position: absolute;
          width: 40px;
          height: inherit;
          right: 5px;
          top: 2px;
          padding: 20px 10px;
        }

        &:after {
          background: transparent repeat-x left url(../images/default/shadow-topbar.png);
          position: absolute;
          top: 60px;
          content: "";
          display: block;
          left: 0px;
          right: 0px;
          height: 8px;
          z-index: 10;
        }
      }

      .modal-body {
        margin-top: 60px;
        height: 448px;
        overflow: auto;
        z-index: 1;
        position: inherit;
      }

      .modal-footer {
        position: absolute;
        bottom: 0px;
        width: 898px;
        height: 70px;
        background-color: #fff;

        &:before {
          background: transparent repeat-x left url(../images/default/shadow-footer.png);
          position: absolute;
          bottom: 70px;
          content: "";
          display: block;
          left: 0px;
          right: 0px;
          height: 8px;
          z-index: 10;
        }

        .save {
          position: relative;
          padding: 5px 25px;
          margin-left: 10px;
          margin-right: 25px;
          background-color: #3f8acd;
        }
      }
    }
  }


  .position {
    .position-header {
      background-color: #f7f5e5;
      padding: 5px 15px;
      text-decoration: none;

      a {
        text-decoration: none;
      }

      .panel-title {
        position: relative;

        .panel-toggle {
          display: block;
          margin-right: 30px;

          &:after {
            position: absolute;
            font-family: FontAwesome;
            width: 30px;
            right: -6px;
            font-size: 30px;
            top: 0px;
            font-weight: bold;
            color: #b9b3a9;
            content: '\f106';
          }

          &.collapsed:after {
              content: '\f107';
          }
        }
      }


      .position-name {
        font-size: 16px;
      }

      .uniorg {
        font-size: 12px;
      }
    }

    .collaborators-grid {
      border-top: 0px;
      padding: 5px 25px;

      .id {
        display: inline-block;
        width: 50px;
      }

      .header {
        padding-bottom: 5px;
        border-bottom: 2px #ddd solid;
        font-weight: bold;
        padding: 10px 5px;
      }

      .collaborator {
        position: relative;
        border-bottom: 1px #ddd solid;
        font-weight: lighter;

        .status {
          &.fired {
            background-color: #fff6f7;

            .content {
              font-weight: bold;

              .collaborator-actions {
                .action {
                  &.fire {
                    background-position: 204px 0px;
                    color: #ffffff;
                    float: right;

                    .fa.fa-minus:before {
                      content: "\f068 ";
                    }
                  }

                  &.promotion-out {
                    display: none;
                  }

                  &.promotion-in {
                    display: none;
                  }
                }
              }
            }
          }

          &.promotion {
            background-color: #effff1;

            .content {
              font-weight: bold;

              .collaborator-actions {
                .action {
                  &.promotion-out {
                    display: none;
                  }

                  &.fire {
                    display: none;
                  }

                  &.promotion-in {
                    background-position: 0px 0px;
                    color: #ffffff;
                    float: right;

                    .fa-arrow-up:before {
                      content: "\f062 ";
                    }
                  }
                }
              }
            }

          }

          &.promotion-out {
            background-color: #fff6f7;

            .content {
              font-weight: bold;

              .collaborator-actions {
                .action {
                  &.promotion-out {
                    display: inline-block;
                    background-position: 204px 0px;
                    color: #ffffff;
                    float: right;

                    .fa-arrow-up:before {
                      content: "\f062 ";
                    }
                  }

                  &.fire {
                    display: none;
                  }

                  &.promotion-in {
                    display: none;
                  }
                }
              }
            }

            .changes {
              .dismiss {
                top: 30px;
              }

              .new-position {
                padding: 5px 0px;

                .fa {
                  padding: 0px 5px;
                  font-size: 20px;
                  font-weight: bold;
                  vertical-align: bottom;
                }
              }

              .new-position-form {
                padding: 10px;
                background: #faeced;
                border: 1px solid #edd4d5;
                margin-bottom: 10px;
              }
            }
          }

          &.hires {
            background-color: #effff1;

            .content {
              .info { font-weight: bold; }
            }

            &.hr {
              .changes .quantity-approved {
                width: 94px;
              }

              .motive {
                width: 300px !important;
              }
            }

            .changes {
              .properties {
                display: block;
                width: auto;
              }

              .to-hire {
                position: relative;
                border-bottom: 1px dashed #ddd;

                &:last-child { border-bottom: 0px; }

                .form-group {
                  margin-bottom: 0px;
                }

                .dismiss {
                  position: absolute;
                  top: 14px;
                  right: 5px;
                }

                .reject {
                  top: 12px;
                  right: 1px;
                }

              }
            }
          }


          .content {
            padding: 15px 10px;

            .info {
              display: inline-block;
            }
          }
          .changes {
            padding: 0px 10px;
            position: relative;

            .properties {
              display: inline-block;
              width: 700px;

              .form-group {
                width: 200px;
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;

                &.position {
                  width: 430px;

                  .select2-container{
                    width: 420px;
                  }
                }

                &.promotion-out {
                  width: 420px;
                }

                .select2-choice {
                  height: 26px;
                }

                .help-block {
                    margin-bottom: 0px;
                }

                label {
                  font-weight: normal;
                  display: block;
                }

                &.begin-date {
                  .form-control {
                    width: 180px;
                    display: inline-block;
                  }
                }
              }

              .labels { margin-bottom: -3px }

              .item {
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;
                font-size: 12px;

                &.form-group {
                  margin-top: 8px;
                  margin-bottom: 8px;
                }
                &.begin-date {
                  width: 110px;

                  .select2-container {
                    width: 110px;
                  }
                }

                &.quantity {
                  width: 90px;
                }

              }

              .motive {
                width: 340px;

                &.rejected {
                  width: 310px;
                }
              }

            }

            a {
              text-decoration: none;
            }

            .dismiss {
              display: inline-block;
              position: absolute;
              right: 15px;
              top: 30px;

            }

            .reject {
                position: absolute;
                display: inline-block;
                top: 28px;
                right: 12px;
                width: 123px;
                height: 24px;
                padding: 2px 0px;
                text-align: center;
                font-weight: bold;
                color: #fff;
                background: url(../images/default/sprite-rejeicao-103x24.png);
                background-position: 0px 0px;

                &.revert {
                  background-position: 123px 0px

                }

                a {
                  color: #fff;
                }
              }
          }
        }


        .collaborator-actions {
          display: inline-block;
          width: 220px;
          float: right;
          position: relative;
          top: -2px;
          text-align: right;

          .action {
            margin: 0px 3px;
            padding: 3px 10px;
            cursor: pointer;
            display: inline-block;
            width: 102px;
            font-size: 12px;
            text-align: center;
            background: url(../images/default/sprite-movimentacao-102x24.png);
            background-position: 102px 0px;
            color: #696969;
            border-color: #696969;

            &.promotion-in {
              .fa {
                border-top: 1px solid;
                line-height: 10px;
              }
            }

            &.promotion-out {
              .fa {
                border-bottom: 1px solid;
                line-height: 10px;
              }
            }
          }
        }
      }

      .actions {
        position: relative;
        float: right;
        padding: 10px;

        .btn {
          padding: 0px 10px;
        }
      }

    }
  }
}


