.content-main {
  padding-top: 52px;
  margin-bottom: 30px;
  color: #084491;
}

.navbar {
  min-height: 30px;
}

.navbar-fixed-top {
  background: #f1f1f1 repeat-x left top url(../images/default/topo.png);
  border-bottom: 1px #cccccc solid;
  background-position: 0px -3px;
  height: 50px;

  .navbar-brand {
    padding-top: 13px;
  }

  .nav {
    margin-top: 7px;
    text-decoration: none;
  }

  &:after {
    background: transparent repeat-x left url(../images/default/shadow-topbar.png);
    position: absolute;
    top: 50px;
    content: "";
    display: block;
    left: 0px;
    right: 0px;
    height: 8px;
  }
}

#logo:before {
  content: url(../images/default/logo-technip-budget.png);
}

.navbar-fixed-bottom {
  background-color: #ffffff;
  border-top: 1px #cccccc solid;

  .dtm-logo:before {
      content: url(../images/default/logo_dtm.png);
      float: right;
      padding-top: 5px;
  }
}

#menu {
  color: #777777;

  .fa {
    margin-right: 2px;
  }

  span {
    font-size: 12px;
  }

  .user {
    display: inline-block;
    height: 50px;
    padding: 15px 5px;
    vertical-align: middle;
  }

  .exit {
    display: inline-block;
    height: 50px;
    padding: 15px 5px;
    padding-right: 15px;
    vertical-align: middle;
    text-decoration: none;
  }
}

.feedback-message {
  .alert {
    position: relative;
  }
}

.management {
  h3.title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
  }

  table {
    color: #333;
  }

  .modal-title {
    font-weight: bold;
  }

  .actions {
    text-align: right;

    .action {
      width: 30px;
      display: inline-block;
      font-size: 20px;
      padding: 0px;
      padding: 0px 4px;
      margin: 0px 2px;

      &.destroy {
        color: #e51900;
      }
    }

    a{
      text-decoration: none;
    }
  }
}
