<tr>
  <%= content_tag name_tag, planning_row.name, :rowspan => '2' %>
  <td rowspan="2"><%= to_utf16 planning_row.status %></td>
  <td><%= to_utf16 'Orçado (Gestor)' %></td>
  <td><%= planning_row.current_team %></td>
  <td><%= planning_row[:author_summary][:hires] %></td>
  <td><%= planning_row[:author_summary][:fires] %></td>
  <td><%= planning_row[:author_summary][:promotions] %></td>
  <td><%= planning_row[:author_summary][:total] %></td>
  <td><%= planning_row[:author_summary][:delta] %></td>
</tr>
<tr>
  <td><%= to_utf16 'Orçado (RH)' %></td>
  <td><%= planning_row[:current_team] %></td>
  <td><%= planning_row[:hr_summary][:hires] %></td>
  <td><%= planning_row[:hr_summary][:fires] %></td>
  <td><%= planning_row[:hr_summary][:promotions] %></td>
  <td><%= planning_row[:hr_summary][:total] %></td>
  <td><%= planning_row[:hr_summary][:delta] %></td>
</tr>