<table>
  <tr>
    <th></th>
    <th>Status</th>
    <th></th>
    <th>Atual</th>
    <th><%= to_utf16 'Contratações' %></th>
    <th>Desligamentos</th>
    <th><%= to_utf16 'Promoções' %></th>
    <th>Total</th>
    <th><%= to_utf16 'Variação de Headcount' %></th>
  </tr>

  <%= render :partial => '/reports/planning_row', :locals => { :planning_row => @principal_planning, :name_tag => :td } %>

  <% @nested_plannings.each do |nested_planning| %>
    <%= render :partial => '/reports/planning_row', :locals => { :planning_row => nested_planning, :name_tag => :td } %>
  <% end %>

  <%= render :partial => '/reports/planning_row', :locals => { :planning_row => @total_planning, :name_tag => :th } %>
</table>
