<table>
  <tr>
    <th><%= to_utf16("Orçamento") %></th>
    <th><%= to_utf16("Matrícula Gestor") %></th>
    <th>Gestor</th>
    <th>Tipo colaborador</th>
    <th><%= to_utf16("Matrícula colaborador") %></th>
    <th>Colaborador</th>
    <th>Tipo</th>
    <th>Diretor</th>
    <th>Quantidade</th>
    <th>Cargo atual</th>
    <th>Nome cargo atual</th>
    <th><%= to_utf16("Posição atual") %></th>
    <th>Novo cargo</th>
    <th>Nome novo cargo</th>
    <th><%= to_utf16("Nova posição") %></th>
    <th>Centro custo</th>
    <th>Site</th>
    <th><%= to_utf16("Código UNIORG") %></th>
    <th>Nome UNIORG</th>
    <th>UNIORG</th>
    <th>Empresa</th>
    <th>Status</th>
    <th><%= to_utf16("Calendário") %></th>
    <th>A partir de</th>
    <th>Motivo</th>
  </tr>
  <% @results.each do |row| %>
    <tr>
      <td><%= row['orcamento'] %></td>
      <td><%= row['matricula_gestor'] %></td>
      <td><%= row['gestor'] %></td>
      <td><%= row['tipo_colab'] %></td>
      <td><%= row['matricula_colaborador'] %></td>
      <td><%= row['colaborador'] %></td>
      <td><%= row['tipo'] %></td>
      <td><%= row['diretor'] %></td>
      <td><%= row['quantidade'] %></td>
      <td><%= row['cargo_atual'] %></td>
      <td><%= row['nome_cargo_atual'] %></td>
      <td><%= row['posicao_atual'] %></td>
      <td><%= row['novo_cargo'] %></td>
      <td><%= row['nome_novo_cargo'] %></td>
      <td><%= row['nova_posicao'] %></td>
      <td><%= row['centro_custo'] %></td>
      <td><%= row['site'] %></td>
      <td><%= row['codigo_uniorg'] %></td>
      <td><%= row['nome_uniorg'] %></td>
      <td><%= row['uniorg'] %></td>
      <td><%= row['empresa'] %></td>
      <td><%= row['status'] %></td>
      <td><%= row['calendario'] %></td>
      <td><%= row['a_partir_de'] %></td>
      <td><%= row['motivo'] %></td>
    </tr>
  <% end %>
</table>