<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>Technip Budget</title>
  <meta content="<%= form_authenticity_token %>" name="csrf-token" />

  <%= stylesheet_link_tag "#{'/budget' if Rails.env == 'production'}/assets/application" %>
  <%= stylesheet_link_tag "#{'/budget' if Rails.env == 'production'}/assets/print", :media => 'print' %>
  <%= javascript_tag "var WEB_CONTEXT = '#{web_context}';" %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "#{'/budget' if Rails.env == 'production'}/assets/html5" %>
  <! [endif] -->
  <%= javascript_include_tag "#{'/budget' if Rails.env == 'production'}/assets/application" %>

  <%= yield(:head) %>
</head>

<body class="<%= yield(:body_class) %>">
  <%= render '/shared/header' %>
  <div class="container-fluid content-main">
    <div id="feedback_message">
      <%= render '/shared/feedback_messages' %>
    </div>
    <%= yield %>
  </div>
  <%= render '/shared/footer' %>

</body>
</html>
