<% form_for :planning, planning,
            :url => url,
            :html => { :method => method, :role => 'form', :class => 'form-horizontal', "novalidate" => "" } do |f| %>
  <div class="col-md-10" ng-app="planningApp">
    <div class="form-group <%= 'has-error' if @planning.errors['calendar_name'] %>">
      <%= f.label :calendar_name, "Calendário", :class => 'col-md-3' %>
      <div class="col-md-9">
        <%= f.text_field :calendar_name, :class => 'form-control' %>
        <% if @planning.errors['calendar_name'] %>
          <span class='help-block'><%= @planning.errors['calendar_name']%></span>
        <% end %>
      </div>
    </div>
    <div class="form-group <%= 'has-error' if @planning.errors['begin_planning_date'] || @planning.errors['end_planning_date'] %>" >
      <label class="col-md-3 period">
        Período de planejamento
      </label>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4" ng-controller="DatepickerCtrl" ng-init="setDate('<%= pretty_date(@planning.begin_planning_date) %>')">

            <%= f.label :begin_planning_date, "Início:" %>

            <%= f.text_field :begin_planning_date,
                             :class => 'form-control',
                             "datepicker-popup" => "dd/MM/yyyy",
                             "ng-model" => 'dt',
                             "is-open" => 'opened',
                             "ng-click" => 'open($event)' %>

            <% if @planning.errors['begin_planning_date'] %>
              <span class='help-block'><%= @planning.errors['begin_planning_date']%></span>
            <% end %>
          </div>

          <div class="col-md-4" ng-controller="DatepickerCtrl" ng-init="setDate('<%= pretty_date(@planning.end_planning_date) %>')">
            <%= f.label :end_planning_date, "Fim:" %>

            <%= f.text_field :end_planning_date,
                               :class => 'form-control',
                               "datepicker-popup" => "dd/MM/yyyy",
                               "ng-model" => 'dt',
                               "is-open" => 'opened',
                               "ng-click" => 'open($event)' %>
            <% if @planning.errors['end_planning_date'] %>
              <span class='help-block'><%= @planning.errors['end_planning_date']%></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group <%= 'has-error' if @planning.errors['min_begin_date'] %>">
      <label class="col-md-3 period">
        Período de vigência
      </label>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4" ng-controller="DatepickerCtrl" ng-init="setDate('<%= pretty_date(@planning.min_begin_date) %>')">

            <%= f.label :min_begin_date, "Inicio:" %>
            <%= f.text_field :min_begin_date,
                             :class => 'form-control',
                             "datepicker-popup" => "dd/MM/yyyy",
                             "ng-model" => 'dt',
                             "is-open" => 'opened',
                             "ng-click" => 'open($event)' %>

            <% if @planning.errors['min_begin_date'] %>
              <span class='help-block'><%= @planning.errors['min_begin_date']%></span>
            <% end %>
          </div>
          <div class="col-md-4" ng-controller="DatepickerCtrl" ng-init="setDate('<%= pretty_date(@planning.max_end_date) %>')">

            <%= f.label :max_end_date, "Fim" %>
            <%= f.text_field :max_end_date,
                             :class => 'form-control',
                             "datepicker-popup" => "dd/MM/yyyy",
                             "ng-model" => 'dt',
                             "is-open" => 'opened',
                             "ng-click" => 'open($event)' %>

            <% if @planning.errors['max_end_date'] %>
              <span class='help-block'><%= @planning.errors['max_end_date']%></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <label>
            <%= f.check_box :current_planning %>
            Ativo
          </label>
        </div>
    </div>

    <div class="ineligible-jobs" ng-controller="IneligibleJobsCtrl"
          ng-init="initializeWith({
            planning_id: <%= @planning.id || 'null' %>,
            jobs: <%= html_escape @planning.ineligible_jobs.to_json %>,
            path: '<%= jobs_url %>'
          })">
      <label>Cargos interditados para planejamento</label>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-md-9">Nome cargo</th>
            <th class="actions col-md-2">
              <button type="button" class="btn btn-primary btn-xs" ng-click="chooseIneligible()">
                <i class="fa fa-plus"></i>
                Adicionar cargo
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ineligible in ineligibles.jobs" ng-hide="ineligible._destroy">
            <td>{{ineligible.job_name}}</td>
            <td class="actions">
              <a href="" ng-click="ineligibles.removeJob(ineligible)" class="action destroy">
                <i class="fa fa-minus-circle"></i>
              </a>
              <input type="hidden" name="planning[parameterized_jobs_attributes][1{{$index}}]id" value="{{ineligible.id}}" />
              <input type="hidden" name="planning[parameterized_jobs_attributes][1{{$index}}]planning_id" value="{{ineligible.planning_id}}" />
              <input type="hidden" name="planning[parameterized_jobs_attributes][1{{$index}}]job_id" value="{{ineligible.job_id}}" />
              <input type="hidden" name="planning[parameterized_jobs_attributes][1{{$index}}]job_name" value="{{ineligible.job_name}}" />
              <input type="hidden" name="planning[parameterized_jobs_attributes][1{{$index}}]job_type" value="{{ineligible.job_type}}" />
              <input type="hidden" name="planning[parameterized_jobs_attributes][1{{$index}}]_destroy" value="{{ineligible._destroy}}" ng-if="ineligible._destroy" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="uncountable-jobs" ng-controller="UncountableJobsCtrl"
          ng-init="initializeWith({
            planning_id: <%= @planning.id || 'null' %>,
            jobs: <%= html_escape @planning.uncountable_jobs.to_json %>,
            path: '<%= jobs_url %>'
          })">
      <label>Cargos não contabilizáveis</label>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-md-9">Nome cargo</th>
            <th class="actions col-md-2">
              <button type="button" class="btn btn-primary btn-xs" ng-click="chooseUncountable()">
                <i class="fa fa-plus"></i>
                Adicionar cargo
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="uncountable in uncountables.jobs" ng-hide="uncountable._destroy">
            <td>{{uncountable.job_name}}</td>
            <td class="actions">
              <a href="" ng-click="uncountables.removeJob(uncountable)" class="action destroy">
                <i class="fa fa-minus-circle"></i>
              </a>
              <input type="hidden" name="planning[parameterized_jobs_attributes][2{{$index}}]id" value="{{uncountable.id}}" />
              <input type="hidden" name="planning[parameterized_jobs_attributes][2{{$index}}]planning_id" value="{{uncountable.planning_id}}" />
              <input type="hidden" name="planning[parameterized_jobs_attributes][2{{$index}}]job_id" value="{{uncountable.job_id}}" />
              <input type="hidden" name="planning[parameterized_jobs_attributes][2{{$index}}]job_name" value="{{uncountable.job_name}}" />
              <input type="hidden" name="planning[parameterized_jobs_attributes][2{{$index}}]job_type" value="{{uncountable.job_type}}" />
              <input type="hidden" name="planning[parameterized_jobs_attributes][2{{$index}}]_destroy" value="{{uncountable._destroy}}" ng-if="uncountable._destroy" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="ignorated-uniorgs" ng-controller="UniorgsCtrl"
          ng-init="initializeWith({
            planning_id: <%= @planning.id || 'null' %>,
            list: <%= html_escape @planning.ineligible_uniorgs.to_json %>,
            path: '<%= uniorgs_url %>'
          })">
      <label>Centros de custo interditados para planejamento</label>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-md-9">Nome centro de custo</th>
            <th class="actions col-md-2">
              <button type="button" class="btn btn-primary btn-xs" ng-click="chooseUniorg()">
                <i class="fa fa-plus"></i>
                Adicionar centro de custo
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="uniorg in uniorgs.list" ng-hide="uniorg._destroy">
            <td>{{uniorg.organization_name}}</td>
            <td class="actions">
              <a href="" ng-click="uniorgs.removeUniorg(uniorg)" class="action destroy">
                <i class="fa fa-minus-circle"></i>
              </a>
              <input type="hidden" name="planning[ineligible_uniorgs_attributes][{{$index}}]id" value="{{uniorg.id}}" />
              <input type="hidden" name="planning[ineligible_uniorgs_attributes][{{$index}}]planning_id" value="{{uniorg.planning_id}}" />
              <input type="hidden" name="planning[ineligible_uniorgs_attributes][{{$index}}]organization_id" value="{{uniorg.organization_id}}" />
              <input type="hidden" name="planning[ineligible_uniorgs_attributes][{{$index}}]organization_name" value="{{uniorg.organization_name}}" />
              <input type="hidden" name="planning[ineligible_uniorgs_attributes][{{$index}}]_destroy" value="{{uniorg._destroy}}" ng-if="uniorg._destroy" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="export-rules" ng-controller="ReportRulesCtrl"
          ng-init="initializeWith({
            planning_id: <%= @planning.id || 'null' %>,
            list: <%= html_escape @report_rules.to_json %>,
            sites: <%= html_escape @sites.to_json %>,
            path: '<%= find_users_url %>'
          })">
      <label>Usuários com permissão para exportar planejamentos</label>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th title="É necessário a escolha de ao menos um site">*Sites</th>
            <th class="actions col-md-2">
              <button type="button" class="btn btn-primary btn-xs" ng-click="chooseUser()">
                <i class="fa fa-plus"></i>
                Adicionar usuário
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rule in report_rules.list" ng-hide="rule._destroy" id="{{rule.user_id}}">
            <td>{{rule.user_number}}</td>
            <td>{{rule.user_name}}</td>
            <td>
            <% @sites.each do |site| %>
              <label for="planning[report_rules_attributes][{{$index}}]authorized_sites[]" class="authorized-sites">
                <input type="checkbox"
                       name="planning[report_rules_attributes][{{$index}}]authorized_sites[]"
                       value="<%= site['id'] %>"
                       ng-checked="{{rule.selectedSite(<%= site['id'] %>)}}">
                <%= site['name'] %>
              </label>
            <% end %>
            </td>
            <td class="actions">
              <a href="" ng-click="report_rules.removeReportRule(rule)" class="action destroy">
                <i class="fa fa-minus-circle"></i>
              </a>
              <input type="hidden" name="planning[report_rules_attributes][{{$index}}]id" value="{{rule.id}}" />
              <input type="hidden" name="planning[report_rules_attributes][{{$index}}]planning_id" value="{{rule.planning_id}}" />
              <input type="hidden" name="planning[report_rules_attributes][{{$index}}]user_id" value="{{rule.user_id}}" />
              <input type="hidden" name="planning[report_rules_attributes][{{$index}}]_destroy" value="{{rule._destroy}}" ng-if="rule._destroy" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pull-right">
      <%= link_to 'Cancelar', plannings_path, :class => 'btn btn-default' %>
      <%= submit_tag 'Salvar', :class => "btn btn-success" %>
    </div>
  <%= render :partial => 'search_modal' %>
  </div>
<% end %>
