<script type="text/ng-template" id="jobSearchTemplate.html">
  <div class="modal-header">
    <span class="modal-title">Buscar cargo</span>
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
  </div>
  <div class="modal-body">

    <label>Escolha o Cargo para adicionar a lista de cargos {{jobType}}</label>
    <div class="form-group form-group-sm">
      <input ui-select2="jobSearch()"
             ng-model="selected"
             class="form-control input-sm"
             name="payment" />
    </div>
  </div>
  <div class="modal-footer">
  <button type="submit" class="btn btn-sm btn-default" ng-click="cancel()">
      Cancelar
    </button>
    <button type="submit" class="btn btn-sm btn-success" ng-click="confirm(selected)">
      Confirmar
    </button>
  </div>

</script>

<script type="text/ng-template" id="uniorgSearchTemplate.html">
  <div class="modal-header">
    <span class="modal-title">Buscar centro de custo</span>
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
  </div>
  <div class="modal-body">

    <label>Escolha o centro de custo</label>
    <div class="form-group form-group-sm">
      <input ui-select2="uniorgSearch()"
             ng-model="selected"
             class="form-control input-sm"
             name="payment" />
    </div>
  </div>
  <div class="modal-footer">
  <button type="submit" class="btn btn-sm btn-default" ng-click="cancel()">
      Cancelar
    </button>
    <button type="submit" class="btn btn-sm btn-success" ng-click="confirm(selected)">
      Confirmar
    </button>
  </div>

</script>

<script type="text/ng-template" id="userSearchTemplate.html">
  <div class="modal-header">
    <span class="modal-title">Buscar usuário</span>
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
  </div>
  <div class="modal-body">

    <label>Escolha o usuário para criar regra de exportação de planejamento</label>
    <div class="form-group form-group-sm">
      <input ui-select2="userSearch()"
             ng-model="selected"
             class="form-control input-sm"
             name="payment" />
    </div>
  </div>
  <div class="modal-footer">
  <button type="submit" class="btn btn-sm btn-default" ng-click="cancel()">
      Cancelar
    </button>
    <button type="submit" class="btn btn-sm btn-success" ng-click="confirm(selected)">
      Confirmar
    </button>
  </div>
</script>