<%= content_for :body_class,"planning" %>

<h3 class="title">Editar calendário</h3>

<%= render :partial => 'form',
           :locals => { :planning => @planning,
                        :url => { :action => 'update' },
                        :method => 'put' } %>
