<%= content_for(:body_class,'planning') %>

<h3 class="title">Calendários</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="cell name col-md-4">Nome</th>
      <th class="cell period col-md-3">Período de vigência</th>
      <th class="cell period col-md-3">Período de planejamento</th>
      <th class="cell actions col-md-2"></th>
    </tr>
  </thead>
  <tbody>
    <% @plannings.each do |planning| %>
      <tr id="<%= planning.id %>">
        <td class="cell name col-md-4">
          <% if planning.current_planning %>
            <span class="label label-info">Ativo</span>
          <% end %>
          <%= planning.calendar_name %>
        </td>
        <td class="cell period col-md-3"><%= "#{pretty_date(planning.min_begin_date)} - #{pretty_date(planning.max_end_date)}" %></td>
        <td class="cell period col-md-3">
          <%= "#{pretty_date(planning.begin_planning_date)} - #{pretty_date(planning.end_planning_date)}" %>
        </td>
        <td class="cell actions col-md-2">
          <div class="pull-right">
            <% link_to(planning_path(planning.id), :class => "action") do %>
              <i class="fa fa-search" title="Ver detalhes"></i>
            <% end %>
            <% link_to(edit_planning_path(planning.id), :class => "action") do %>
              <i class="fa fa-pencil" title="Editar"></i>
            <% end %>
            <% link_to(planning_path(planning.id), :confirm => "Deseja excluir este calendário de planejamento?",
                        :class => "action destroy",
                        :method => "delete") do %>
              <i class="fa fa-minus-circle" title="Remover"></i>
            <% end %>

          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pull-right">
  <%= link_to("Novo Calendario", new_planning_path, :class => "btn btn-success") %>
</div>
