<%= content_for :body_class,"planning" %>

<h3 class="title">Cadastrar calendário</h3>

<%= render :partial => 'form',
           :locals => { :planning => @planning,
                        :url => { :action => 'create' },
                        :method => 'post' } %>
