<%= content_for :body_class,"planning" %>

<h3 class="title"><%= @planning.calendar_name %></h3>

<div class="col-md-10">
  <div class="row">
    <label class="col-md-3">
      Período de planejamento
    </label>
    <div class="col-md-9">
      <p class="form-control-static">
        <%= "#{pretty_date(@planning.begin_planning_date)} - #{pretty_date(@planning.end_planning_date)}" %>
      </p>
    </div>
  </div>

  <div class="row">
    <label class="col-md-3">
      Período de vigência
    </label>
    <div class="col-md-3">
      <p class="form-control-static">
        <%= "#{pretty_date(@planning.min_begin_date)} - #{pretty_date(@planning.max_end_date)}" %>
      </p>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3">
      Ativo
    </label>
    <div class="col-md-9">
      <%= @planning.current_planning ? "Sim" : "Não" %>
    </div>
  </div>
  <div class="row ineligibles">
    <label class="col-md-3">Cargos inelegíveis</label>
    <div class="col-md-9">
      <ul class="list-unstyled">
        <% @planning.ineligible_jobs.each do |ineligible| %>
          <li><%= ineligible.job_name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row uncountables">
    <label class="col-md-3">Cargos não contabilizáveis</label>
    <div class="col-md-9">
      <ul class="list-unstyled">
        <% @planning.uncountable_jobs.each do |uncountable| %>
          <li><%= uncountable.job_name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row report-rules">
    <label class="col-md-3">Regras de exportação de planejamento</label>
    <div class="col-md-9">
      <table class="table">
        <% @planning.report_rules.each do |rule| %>
        <tr>
          <td><%= rule.user.full_name %></td>
          <td text="Sites permitidos">
          <% rule.sites.each do |site| %>
            <span class="label label-primary"><%= site["name"] %></span>
          <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="col-md-10 actions">
  <div class="pull-right">
    <%= link_to 'Voltar', plannings_path, :class => 'btn btn-default' %>
    <%= link_to 'Editar', edit_planning_path, :class => 'btn btn-info' %>
  </div>
</div>